* {
    padding: 0;
    margin: 0;
}
.body{
background-color: #fff;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.container_Header {
    min-height: 52px;
    background-color: #006cc2;
    display: flex;
    padding: 0 8rem;
}

.logo {
    width: 150px;
}

.logo img {
    max-width: 157px;
    padding-top: 19px;
    display: block;
    margin-left: 100px;
    height: 43px;

}

.nav_menu {
    width: 65%;
    font-size: 15px;

}

.nav_list {
    display: flex;
    height: 52px;
    line-height: 52px;
    list-style: none;
    justify-content: center;
    font-weight: 600;
    padding: 13px 20px;
    text-transform: uppercase;
    margin-left: 100px;
}

.nav_list li {
    padding: 0px 10px;
}

.nav_list li a {
    padding: 0.2rem;
    color: #fff;
    text-decoration: none;
}

.nav_list .nav_manga_up {
    background: #ffc107;
    color: #333;
    border-radius: 20px;
    border: 2px solid #ffc107;
    border-radius: 60px;
    height: 52px;
    line-height: 52px;
    padding: 0 17px;
}

.icon {
    height: 78px;
    width: 10%;
    font-size: 2rem;
    line-height: 78px;
}

.icon a {
    transition: color 150ms ease-out;
    text-align: center;
    border-radius: 50%;
    line-height: 36px;
    color: #006cc2;
    font-size: 21px;
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: #fff;
}

.icon a:hover {
    background-color: black;
}

.nav_white {
    min-height: 42px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-left: 166px;
    margin-right: 166px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
}
.container_body{
}
.body_top{
    background-color: #f3f3f3;
}
.nav_main li {
    padding: 0 0.5rem;
}

.nav_main li:hover {
    color: #006cc2;
}

.nav_item1 {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    color: black;
    font-size: 130%;
}
.nav_item {
    position: relative;

}
.nav_item::before {
    content: "";position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s linear;
    opacity: 0;
}
.nav_item:hover.nav_item::before {
    opacity: 0.8;
    width:50%;


}
.nav_main2 .nav_item1 {
    padding: 0 1rem;
}

.nav_item1 a {
    text-decoration: none;
}
.container_body{
}
.container_footer{
box-sizing: border-box;
border-top: 1px solid #ebebeb;
background-color: #f3f3f3;
}
.titler_footer_top{
    position: absolute;
    top: 156px;
    left: 204px;
}
.titler_footer_top .heading{
        display: inline-block;
        background: #006cc2;
        color: #fff;
        padding: 7px 25px;
        margin-bottom: 26px;
        position: relative;
        font-weight: 600;
        letter-spacing: 1px;
}
.titler_footer_top:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #006cc2;
    position: absolute;
    top: 42%;
    left: 15px;
}
.top_footer{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_bottom{
    min-height: 52px;
    display: flex;
    padding: 0 8rem;
    margin: 0 100px;
}

.footer_list{
    display: flex;
    width: 1140px;
    margin: 0 100px;
    margin-top: 38px;
    margin-bottom: -21px; 
    
}
.footer_list .colunm{
    width: 16.6%;
    font-weight: 600;
}
.colunm p{
margin: 9px;
margin-right: 0px;
}
.colunm p i{
margin: 0 20px;
}
.footer_list .colunm p:hover{
    color: red;
}
.footer_final{
    height: 120px;
    width: 100%;
    margin-top: 100px;
}
.footer_final_rule{
    list-style-type: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.footer_final_rule li{
    padding: 0 20px;
}
.footer_final_rule .footer_center_rule{
    border-right:solid 1px black;
    border-left:solid 1px black;
}
.footer_final .content_final{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.manhwa_genre a{
color: #333;
text-decoration: none;
font-weight: 600px;
}
